body {
    background-image: url("../images/background.jpg");
    color: black; 
}
h3 {
    color: white;
}
.timeremaining {
    color: white;
}
.btntext {
    color: white;
}
.jumbotron-fluid {
    background-color: none;
}
